@font-face {
  font-family: 'Gotham-Bold';
  src: local('Gotham-Bold'), url(../Fonts/Gotham-Bold.otf) format('truetype');
}
@font-face {
  font-family: 'Gotham-Book';
  src: local('Gotham-Book'), url(../Fonts/GothamBook.ttf) format('truetype');
}
@font-face {
  font-family: 'Gotham-Medium';
  src: local('Gotham-Medium'), url(../Fonts/GothamMedium.ttf) format('truetype');
}
.solar-calculator {
  display: grid;
  grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr;
  grid-column-gap: 30px;
  justify-content: center;
  height: 65rem;
  align-items: center;
}
.solar-calculator-form-div {
  grid-column: 2 / 4;
}

.solar-calculator-form {
  background-color: #f6f6f7 !important;
  padding: 3rem !important;
  grid-column: 2 / 4;
}
.form-heading{
  font-family: 'Gotham-Bold' !important;
  font-size: 2rem !important;
  padding: 2rem 0rem !important;
}
.form-text{
  font-family: 'Gotham-Book' !important;
  font-size: 1rem;
}
.form-ul{
  font-family: 'Gotham-Book' !important;
  margin-left: 1.2rem;
  padding: 2rem 0rem !important;
}
.solar-question{
  font-family: 'Gotham-Bold' !important;
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .solar-calculator {
    grid-template-columns: 0.2fr 0.2fr 0.2fr !important;
    grid-column-gap: 0px !important;
    grid-row-gap: 1rem !important;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .solar-calculator {
    grid-template-columns: 0.25fr !important;
    height: 65rem !important;
    align-items: start !important;
    align-content: start !important;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .solar-calculator {
    height: 70rem !important;
    align-items: start !important;
    align-content: start !important;
    grid-row-gap: 2rem;
    grid-template-columns: 0.25fr !important;
  }
}