body{
  --color: #ffdc00;
  --text-color: #ffdc00;
  --button-color: #ffdc00;
  --card-icon-color: #ffdc00;
  --card-icon-color-2: #fff;
  --card-hover-color: #ffdc00;
}
.text-color{
  color: var(--text-color);
}